

.contenedor {    
    position: relative;	
    margin: 0% 40%;
    padding: 1rem;
    right: 23%;
    top: 218px;
}

.title-sesion{
    position: relative;
    bottom: 28px;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: left;
    padding: 10px;
}

.man{
    position: absolute;
    width: 758px;
    height: 582px;
    left: 544px;
    top: -50px;
}

.rectangulo{
    position: absolute;
    width: 851px;
    height: 944px;
    background: #E1C6DC;
    left: 767px;
    bottom: 333px;
    top: -263px;
    border-radius: 0px 108px 0px 0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.logo{
    position: relative;
    bottom: 150px;
    right: 43%;    
}

.title-logo{
    position: relative;
    width: 181px;
    height: 42px;
    left: 61px;
    bottom: 201px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: #3B3B3B;
}

.boton-ingresar{
    background-color: #8A3879;
    color: white;
    position: relative;
    border-radius: 6px;
    margin-right: auto;
    margin-left: auto;
    width: 96%;
    height: 36px;
    cursor: pointer;
    border: 2px solid #8A3879;
    top: 18px;     
}

.boton-ingresar:hover{
    background-color: #A54F93;
    border: 2px solid #A54F93;   
}

.boton-ingresar:active{
    background-color: #78306B;
    border: 2px solid #78306B;   
}


.usuario{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    font-weight: 600;
}

.password{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    font-weight: 600;
}

.input-usuario{
    border-radius: 7px;
    padding: 8px 4px;    
    border: 2px solid #939393;
}

.input-usuario:focus {
    border-radius: 7px;
    padding: 8px 4px;
    border-color: #3485cc;
    outline: none;    
}

.input-password{
    border-radius: 7px;
    padding: 8px 4px;
    border: 2px solid #939393;
}

.input-password:focus{
    border-radius: 7px;
    padding: 8px 4px;
    border-color: #3485cc;
    outline: none;
}

.forgot-password{
    position: relative;
    top: 38px;    
    text-align: center;
    font-size: 2vh;
    padding: 10px;
    color: #8A3879;
    text-decoration: underline;
    font-weight: 600;
}

.show-hide{
    cursor: pointer;
    position: absolute;
    top: 38px;
    right: 13px;
    width: 24px;
    height: 17px;
    bottom: 25px;
    padding: 1.8px;
}

.input-required{
    color: red;
    font-size: 12px;
}

.img-required{
    width: 12px;
    height: 10px;
}

/*==========EMPIEZA ADAPTACION RESPONSIVE========*/

/*MOBILE*/

@media (max-width: 767px) {

    .contenedor{
        display: grid;
        position: relative;        
        padding: 1rem;
        right: 23%;
        top: 218px;
    }

    .usuario{
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 10px;
        font-weight: 600;
    }

    .password{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 10px;
        font-weight: 600;
    } 

    
    .logo{
        position: absolute;
        left: 28.8%;
        right: 60.35%;
        top: 3.3%;
        bottom: 90.6%;
    }
    
    .title-logo{
        position: relative;
        width: 181px;
        height: 194px;
        left: 62px;
        bottom: 46px;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 300;
        font-size: 26px;
        line-height: 31px;
        display: flex;
        align-items: flex-end;
        text-transform: uppercase;
        color: #3B3B3B;
    }

    .rectangulo {
        position: absolute;
        width: 592px;
        height: 340px;
        bottom: 215px;
        left: -120px;
        top: -129px;
        background: #E1C6DC;
        border-radius: 40px 40px 0px 0px;
        z-index: -2;
    }

    .man{
        position: absolute;
        width: 235px;
        height: 182px;
        left: 0px;
        top: 0px;
    } 
}

/*TABLET*/

@media (min-width: 768px) and (max-width: 1279px) {
    .contenedor {
        margin: 2% 30%;
    }
}

/*DESKTOP*/

@media (min-width: 1280px) {
    .contenedor {
        margin: 2% 38%;
    }
}