.contenedor {
    background: #E8E8E8;
	font-family: 'Open Sans', sans-serif;
    margin: 2% 40%;
    padding: 1rem;
}

.boton-ingresar{
    background-color: #b622ad;
    color: white;
    border-radius: 6px;
    margin-right: auto;
    margin-left: auto;
    width: 94%;
    height: 30px;
    cursor: pointer;     
    border: 2px solid #b622ad;      
}

.boton-ingresar:hover{
    background-color: #d62acc;
    border: 2px solid #d62acc;   
}

.boton-ingresar:active{
    background-color: #8f1388;
    border: 2px solid #8f1388;   
}

/* ver como es para dejar un de un determinado color el boton presionado

.boton-ingresar:focus{
    background-color: aliceblue;
} */

.usuario{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    font-weight: 600;
}

.password{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    font-weight: 600;
}

.input-usuario{
    border-radius: 7px;
    padding: 6px 4px;    
    border: 2px solid #000;
}

.input-usuario:focus {
    border-radius: 7px;
    padding: 6px 4px;
    border-color: #3485cc;
    outline: none;    
}

.input-password{
    border-radius: 7px;
    padding: 6px 4px;
    border: 2px solid #000;
}

.input-password:focus{
    border-radius: 7px;
    padding: 6px 4px;
    border-color: #3485cc;
    outline: none;
}

.forgot-password{
    text-align: left;
    font-size: 2vh;
    padding: 10px;
    color: blue;
    text-decoration: underline;
}

.show-hide{
    cursor: pointer;
    position: absolute;
    top: 33px;
    right: 13px;
    width: 24px;
    height: 17px;
    bottom: 25px;
    padding: 1.8px;
}

.input-required{
    color: red;
    font-size: 12px;
}

.img-required{
    width: 12px;
    height: 10px;
}

/*==========EMPIEZA ADAPTACION RESPONSIVE========*/

/*MOBILE*/

@media (max-width: 767px) {
    .contenedor {
        margin: 2% 10%;
    }
}

/*TABLET*/

@media (min-width: 768px) and (max-width: 1279px) {
    .contenedor {
        margin: 2% 30%;
    }
}

/*DESKTOP*/

@media (min-width: 1280px) {
    .contenedor {
        margin: 2% 38%;
    }
}