.contenedor-options{
    background: #E8E8E8;
    font-family: 'Open Sans', sans-serif;
    margin: 2% 40%;
    padding: 1rem;
    font-weight: 600;
}

.documento{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    font-weight: 600;
}

.input-documento{
    border-radius: 7px;
    padding: 6px 4px;    
    border: 2px solid #000;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.input-documento:focus {
    border-radius: 7px;
    padding: 6px 4px;
    border-color: #3485cc;
    outline: none;    
}

.input-document value{
    background-color: red;
}


.completar {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
}

.input-completar {
    border-radius: 7px;
    padding: 6px 4px;    
    border: 2px solid #000;    
}

.input-completar:focus {
    border-radius: 7px;
    padding: 6px 4px;
    border-color: #3485cc;
    outline: none;
}

.boton-confirmar{
    background-color: #b622ad;
    color: white;
    border-radius: 6px;
    margin-right: auto;
    margin-left: auto;
    width: 94%;
    height: 30px;
    cursor: pointer;     
    border: 2px solid #b622ad;      
}

.boton-confirmar:hover{
    background-color: #d62acc;
    border: 2px solid #d62acc;   
}

.boton-confirmar:active{
    background-color: #8f1388;
    border: 2px solid #8f1388;   
}

.boton-volver{
    background-color: #0bac0b;
    color: white;
    border-radius: 6px;
    margin-right: auto;
    margin-left: auto;
    width: 94%;
    height: 30px;
    cursor: pointer;     
    border: 2px solid #0bac0b;      
}

.boton-volver:hover{
    background-color: #12d612;
    border: 2px solid #12d612;   
}

.boton-volver:active{
    background-color: #097e09;
    border: 2px solid #097e09;   
}


/*==========EMPIEZA ADAPTACION RESPONSIVE========*/

/*MOBILE*/

@media (max-width: 767px) {
    .contenedor-options {
        margin: 2% 10%;
    }
}

/*TABLET*/

@media (min-width: 768px) and (max-width: 1279px) {
    .contenedor-options {
        margin: 2% 30%;
    }
}

/*DESKTOP*/

@media (min-width: 1280px) {
    .contenedor-options {
        margin: 2% 38%;
    }
}