.contenedor-options{
    position: relative;	
    margin: 0% 40%;
    padding: 1rem;
    right: 23%;
    top: 218px;
}

.documento{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    font-weight: 600;
}

.input-documento{
    border-radius: 7px;
    padding: 8px 4px;    
    border: 2px solid #000;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.input-documento:focus {
    border-radius: 7px;
    padding: 8px 4px;
    border-color: #3485cc;
    outline: none;    
}

.input-document value{
    background-color: red;
}


.completar {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    font-weight: 600;
}

.input-completar {
    border-radius: 7px;
    padding: 8px 4px;    
    border: 2px solid #000;    
}

.input-completar:focus {
    border-radius: 7px;
    padding: 8px 4px;
    border-color: #3485cc;
    outline: none;
}

.boton-confirmar{
    background-color: #8A3879;
    color: white;
    position: relative;
    border-radius: 6px;
    width: 196px;
    height: 36px;
    cursor: pointer;
    border: 2px solid #8A3879;
    top: 18px;
    margin: 0px 5px;     
}

.boton-confirmar:hover{
    background-color: #A54F93;
    border: 2px solid #A54F93;   
}

.boton-confirmar:active{
    background-color: #78306B;
    border: 2px solid #78306B;   
}

.boton-volver{
    background-color: #ffffff;
    color: #8A3879;
    position: relative;
    border-radius: 6px;
    width: 196px;
    height: 36px;
    cursor: pointer;
    border: 2px solid #8A3879;
    top: 18px;
    margin: 0px 5px;      
}


/*==========EMPIEZA ADAPTACION RESPONSIVE========*/

/*MOBILE*/

@media (max-width: 767px) {
    .contenedor-options {
        margin: 2% 10%;
    }
}

/*TABLET*/

@media (min-width: 768px) and (max-width: 1279px) {
    .contenedor-options {
        margin: 2% 30%;
    }
}

/*DESKTOP*/

@media (min-width: 1280px) {
    .contenedor-options {
        margin: 2% 38%;
    }
}